.shuffle-parent {
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  will-change: transform;
  line-height: 1;
  font-size: 1.5rem;
  font-family: var(--font-display), sans-serif;
  text-transform: uppercase;
  visibility: hidden;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.shuffle-parent.is-ready {
  visibility: visible;
}

.shuffle-char-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: baseline;
  position: relative;
}

.shuffle-char-wrapper > span {
  display: inline-flex;
  will-change: transform;
}

.shuffle-char {
  line-height: 1;
  display: inline-block;
  text-align: center;
  font-family: var(--font-display), sans-serif !important;
}
